@media (min-width:200px)and (max-width: 500px) {
    .div2head{
       font-size:30px;
    }
  }

  .div4text{
    margin:60px 30px 80px 30px ;
    display:flex;
    flex-direction:column;
    align-items: center;
  }

  .div4span{
    font-size:16px;
  }

  .divmainsetting{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  @media (min-width:200px)and (max-width: 500px) {
    .divmainsetting{
        display:flex;
    flex-direction: column;
    justify-content: flex-start;
    }
  }
  .leftpicdiv{
    margin:30px;
    margin-right: 70px;
  }
  .divimgleftside{
    height:600px;
  }
  @media (min-width:200px)and (max-width: 500px) {
    .divimgleftside{
        max-width: 70vw;
    }
}
  .divrightsidepart{
   margin:10px;
   padding:20px;
   /* width:300px; */
  }

  .divrightparthead{
    font-size: 44px;
    font-weight: 700;
  }
  .divoftextunderheading{
    margin-right: 80px;
  }

  .divspan{
    font-size: 16px;
  }

  .maindivofchecks{
    display:flex;
    flex-direction: row;
    margin:30px;
  }
  @media (min-width:200px)and (max-width: 500px) {
    .maindivofchecks{
        display:flex;
    flex-direction: column;
    }
}
.divmianformargin{
    margin:70px 0px 80px 0px;
}

.checkwithtext{
    display:flex;
    flex-direction: row;
    margin:15px;
}
.individualdivofcolumnflex{
    display:flex;
    flex-direction: column;
    margin:10px 80px 20px 05px;
}
.checksetting{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    height:20px;
    width:20px;
    margin-right:05px;
}
.div8image{
    border-radius: 05px;
}